<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Edgaras">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles-my_lists.css">  
    <title>My Lists</title>
</head>
<body>           
    <div>
        <span>
            <a href="/dashboard">
                <img src="pic/back2.png" />    
            </a>
        </span>  
        <span>
            <a class="title">My Lists</a>
        </span>    
    </div>   
       
    <div>
        <span class="data">                  
            <% if (List.length > 0) { %>
                <% List.forEach(List => { %> 
                <div class="date">
                    <%= "List created: "%>               
                    <% var date =  List.createdAt.toString() %>
                    <%= date.slice(0, -45) %>
                </div></br>    
                <% const data = JSON.parse(List.List) %>
                <% for (var i = 0; i < data.length; i++) {  %>
                <%= data[i].Product %>
                <%= data[i].Qty + 'X' %> 
                <%= data[i].weight %>
                <%= data[i].units %> 
                <%= data[i].price %> 
                <%= data[i].currency %></br>
                <% } %>
                <a class="delete" onclick="deleteListFromDB()" data-doc="<%= List._id %>">delete</a>
                    </br>
                <% }) %>
                <% } else { %>
                    <p> There are no lists to display...</p>
                <% } %>       

        </span>
    </div>       
    </br>

    <script>
        function deleteListFromDB() {
            const trash = document.querySelector('a.delete');;
            const endpoint = `/My_Lists/${trash.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
                .then((res) => res.json())
                .then((data) => window.location.href = data.redirect )
                .catch(err => console.log(err));        
        }

    </script>    
</body>
</html>

