<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="author" content="Edgaras" />
		<title>Shopping List</title>
		<link rel="stylesheet" type="text/css" href="css/styles-search.css" />
	</head>
	<body>
		<div>
			<span style="display: flex; align-items: center">
				<span>
					<a href="/dashboard">
						<img src="pic/back2.png" />    
					</a>
				</span> 
				<span>
					<a href="/"><h1 class="title">Shopping List</h1></a>
				</span>
				<span>
					<img
						class="cart_image"
						src="/pic/cart.png"
						width="50"
						height="50"
					/>
				</span>
			</span>	
				<span>
					<nav role="navigation">

					</nav>
				</span>
				<h2>Items by phrase "<%= products %>" :</h2>
				</br>
				<script>
					let name = [];
					var id = 0;

				</script>	
				<span class="items">
					
						<% if (Products.length > 0) { %>
						<% for (let i = 0; i < Products.length; i++) { %> 

					<span class="item" id="MySpan">    
						<img src="<%= Products[i].image %>" class="image"/>    
						</br>
						<span class="name" id="name">
							<%= Products[i].name %>							
						</span> 
							</br>                   
						<%= Products[i].type %>
							</br>
						Price: <%= Products[i].price %>
							</br>
						<a href="<%= Products[i].url%>" id="url" target="_blank">Link to buy:</a>  
						<div class="hide" >
							<button id="<%= Products[i].name %>" class="<%= Products.name %>" onClick="saveProduct(this.id)">
								<img src="/pic/add3.png"/>
							</button>
						</div>
					</span>
						<% } %>
						<% } else { %>
							<h2> Items not found...</h2>
						<% } %>                
			    
		</div>
	</body>
	<script src="frontend.js"></script>	
	<script>

		function saveProduct(selectedProductName) {
			var selectedProduct = createProductAsObject(
						selectedProductName
			);

			console.log('selectedProduct ', selectedProduct)

			addProductToLocalStorage(selectedProduct);			
		}
		
	</script>
	
	
</html>