<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="css/styles-signup.css" />
	</head>
	<body>
		<span>
			<span>
				<h1 class="title">Shopping List</h1>
			</span>
			<span>
				<img
					class="cart_image"
					src="/pic/cart.png"
					width="50"
					height="50"
				/>
			</span>		

		<form class="signup" action="/signup" method="post">
			<label>Sign up</label>
			<p class="errors">	
				<%- include('messages') %>				
				</br>				
			</p>
			<div>
				<label for="name">Name :&nbsp&nbsp&nbsp</label>
				<input
					type="text"
					id="name"
					name="name"
					maxlength="20"
					size="20"
					value="<%= typeof name != 'undefined' ? name : '' %>"
					
				/>
			</div>
			<div>
				<label for="password">Password :</label>
				<input
					type="text"
					id="password"
					name="password"
					maxlength="20"
					size="20"
					value="<%= typeof password != 'undefined' ? password : '' %>"
					
				/>
			</div>
			<div>
				<label for="password2">Password :</label>
				<input
					type="text"
					id="password2"
					name="password2"
					maxlength="20"
					size="20"
					value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
					
				/>
			</div>
			<div>
				<label for="email">Email :&nbsp&nbsp&nbsp</label>
				<input
					type="text"
					id="email"
					name="email"
					maxlength="20"
					size="20"
					value="<%= typeof email != 'undefined' ? email : '' %>"
					
				/>
			</div>
			<button type="submit">Register</button>			
		</form>
		<a href="/index2"></a>
	</body>
</html>
